body
{
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    width: 210px;
}

p
{
    text-align: justify;
}

#addLinkBtn
{
    margin-top: 13px;
    margin-left: 31%;
}

#url
{
    width: 100%;
}