body
{
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    width: 220px;
}

p
{
    text-align: justify;
}

#addLinkBtn
{
    margin-top: 18px;
    margin-left: 32%;
}

#url
{
    width: 106%;
}